{% extends 'base.html' %}

{% block content %}

<div class="form-body">
    <div class="form-block login-block">
    <div class="form-with-background">
        <div class="background-block login-block-part"></div>
        <div class="foreground-block reset-complete-block-part">
            <div class="form-users-css form-padding-top-reset">
                <h1 class="form-title reset-title-done">ПАРОЛЬ ИЗМЕНЕН</h1>
                 <div class="form-text-div-pass-reset-comp ">
                   <span class="my-form-text-complete">Ваш пароль успешно изменен. Используйте новый пароль для</span>
                   <span><a class="my-form-text-ref-reset-comp" href="{% url 'users:login' %}">входа в систему</a></span>
               </div>
            </div>
        </div>

    </div>
</div>
</div>

{% endblock %}