{% extends 'base.html' %}

{% block content %}


<div class="form-body">
    <div class="form-block login-block">
    <div class="form-with-background">
        <div class="background-block login-block-part"></div>
        <div class="foreground-block reset-block-part">
            <div class="form-users-css form-padding-top-reset">
      <h1 class="form-title reset-title">ВОССТАНОВЛЕНИЕ ПАРОЛЯ</h1>
      <form method="post" class="needs-validation form-users-inputs" novalidate>
         {% csrf_token %}
         <input type="hidden" name="next" value="{{ next }}"/>
          {% for f in form %}
            <div class="email-input">
                 <i class="fa-solid fa-at img-color"></i>
                 {{f}}
             </div>
          <div class="form-error">
               {{f.errors}}
           </div>
         {% endfor %}

         <div class="form-error">{{ form.non_field_errors}}</div>
          <div class="reset-btn-div">
              <button id="reset-btn" class="btn-default btn-margin" type="submit">Сбросить пароль</button>
          </div>
          <div class="form-text-div ">
              <p class="my-form-text"><a class="my-form-text-ref-reset" href="{% url 'users:login' %}">Обратно в окно входа</a></p>
          </div>
<!--          <i class="fa-solid fa-eye-slash img-color"></i>-->
<!--          <i class="fa-solid fa-lock img-color"></i>-->
<!--          <i class="fa-regular fa-user img-color"></i>-->


      </form>
   </div>
        </div>

    </div>
</div>
</div>



{% endblock %}