{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="form-body">
    <div class="form-block login-block">
    <div class="form-with-background">
        <div class="background-block login-block-part"></div>
        <div class="foreground-block reset-block-part">
            <div class="form-users-css form-padding-top-reset">
                <h1 class="form-title reset-title-done">ВОССТАНОВЛЕНИЕ ПАРОЛЯ</h1>
                 <p class="my-form-text-reset-done">{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
                 <p class="my-form-text-reset-done">{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
                <div class="form-text-div ">
                   <p class="my-form-text"><a class="my-form-text-ref" href="{% url 'users:login' %}">Обратно в окно входа</a></p>
               </div>
            </div>
        </div>

    </div>
</div>
</div>


{% endblock %}
