{% extends 'base.html' %}

{% block content %}

<div class="form-body">
    <div class="form-block login-block">
    <div class="form-with-background">
        <div class="background-block login-block-part"></div>
        <div class="foreground-block change-block-part">
            <div class="form-users-css form-padding-top-reset">
                <h1 class="form-title reset-title-done">ПАРОЛЬ УСПЕШНО ИЗМЕНЕН!</h1>
                 <p class="my-form-text-reset-done change-pass-text">Изменение пароля прошло успешно. При следующих попытках авторизации будут применяться новые автризационные данные</p>
                <div class="form-text-div ">
                   <p class="my-form-text"><a class="my-form-text-ref" href="{% url 'users:login' %}">Вернуться в главное окно</a></p>
               </div>
            </div>
        </div>

    </div>
</div>
</div>





{% endblock %}
