{% extends 'base.html' %}

{% block content %}

<div class="form-body">
    <div class="form-block login-block">
       <div class="form-with-background">
           <div class="background-block login-block-part"></div>
           <div class="foreground-block reset-block-part">
               <div class="form-users-css form-padding-top-reset">
                  <h1 class="form-title reset-title-done">НОВЫЙ ПАРОЛЬ</h1>
                  <form method="post" class="needs-validation form-users-inputs form-new-pass" novalidate>
                     {% csrf_token %}
                     <input type="hidden" name="next" value="{{ next }}"/>
                     {% for f in form %}
                     <div class="form-obj-set">
                        <div class="form-obj-field">{{f}}</div>
                       <div class="form-error">
                           {{f.errors}}
                       </div>
                     </div>
                     {% endfor %}
                     <div class="form-error">{{ form.non_field_errors}}</div>
                      <div class="reset-btn-div">
                          <button id="new-pass-btn" class="btn-default btn-margin" type="submit">СБРОСИТЬ ПАРОЛЬ</button>
                      </div>
                  </form>
               </div>
           </div>
       </div>
   </div>
</div>

{% endblock %}