{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'EyeHealth/css/main.css'%}" rel="stylesheet"/>

</head>
<body>
<script src="https://code.jquery.com/jquery-2.1.0.js"></script>
{% block content %}
{% endblock %}
<script src="{% static 'EyeHealth/js/animation.js'%}"></script>
<script src="{% static 'EyeHealth/js/pingpong.js'%}"></script>
<script src="{% static 'EyeHealth/js/blink.js'%}"></script>
<script src="{% static 'EyeHealth/js/block_fall.js'%}"></script>
<script src="{% static 'EyeHealth/js/memory.js'%}"></script>
<script src="{% static 'EyeHealth/js/warm-up.js'%}"></script>
</body>
</html>